.container {
    width: 715px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 30%;
}

.nav {
    width: 70%;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.changer {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}

.regFields {
    display: block;
    width: 400px;
    margin: 20px auto;
}

.addBtn,
.facebookBtn {
    display: block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
    margin: 10px auto;
    transition: 0.5s;
}

.addBtn:hover,
.facebookBtn:hover {
    background: #8ca9e9;
    color: white;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.userImage {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.datePicker {
    display: flex;
    width: 370px;
    justify-content: space-between;
    align-items: center;
}

.datePicker p {
    width: 30%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
}

.eventBlock {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
    width: 450px;
}

.eventBlock p {
    margin-bottom: 0;
}

.eventTxt {
    resize: none;
    width: 365px;
    height: 80px;
    margin-top: 10px;
    outline: none;
}

.sendBtn {
    display: block;
    margin-top: 15px;
    outline: none;
    border: 1px solid black;
    background: white;
    width: 70px;
    height: 30px;
    transition: 0.5s;
}

.sendBtn:hover {
    color: white;
    background: #1092e9;
    border: 1px solid #3555e9;
    font-weight: bold;
}

.mainPage {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 50%;
    position: relative;
}

.hover {
    position: absolute;
    width: 219px;
    height: 50px;
    top: 6%;
    left: 30%;
}

.myEvents {
    width: 45%;
    border: 1px solid black;
    padding: 10px 0;
}

.myEvents h3 {
    text-align: center;
    margin-top: 0;
}

.events {
    padding: 0 10px;
}

.event {
    border: 1px solid black;
    margin: 5px 0;
    padding: 0 10px;
    position: relative;
}

.eventDate {
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 0;
}

.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    outline: none;
}

.deleteBtn:hover {
    background: #c1c1c1;
}

.deleteBtn:active {
    color: white;
}

.shareBlock {
    margin-top: 50px;
}

.findUserBtn {
    margin-left: 10px;
    outline: none;
    border: 1px solid black;
    background: white;
    width: 50px;
    height: 20px;
    transition: 0.5s;
}

.findUserBtn:hover,
.shareBtn:hover {
    color: white;
    background: #1092e9;
    border: 1px solid #3555e9;
}

.userByInfo{
    margin-top: 20px;
    width: 110px;
    min-height: 10px;
    padding: 5px 10px;
    border: 1px solid black;
}

.userByInfoInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.userByInfoInfo p {
    margin: 0;
    width: 50%;
}

.userByEmailImg {
    width: 50%;
}

.userByInfoInfo img {
    display: block;
    margin-left: auto;
    width: 30px;
    height: 30px;
}

.shareBtn {
    display: block;
    margin-left: auto;
    outline: none;
    border: 1px solid black;
    background: white;
    width: 50px;
    height: 20px;
    transition: 0.5s;
}

.sharedBlock {
    display: flex;
    justify-content: space-between;
}

.sharedBlock h4 {
    text-align: center;
}

.youShared {
    width: 48%;
}

.sharedWithYou {
    width: 48%;
}

.youSharedBlock {
    display: flex;
    justify-content: space-evenly;
}

.sharedWithYouBlock {
    display: flex;
    justify-content: space-evenly;
}